/* Default styling for 1280 screen size */

/* for making content center on the page */
#centering{
    width: 80%;
    margin: 0 10%;
    margin-bottom: 3em;
}

body{
    background: url('../img/background-image.png') #211e2e;
    background-repeat: cover;
    margin: 0 auto;
    background-blend-mode: multiply;
}


/* header styles */
.logo{
    font-family: 'Tangerine', serif;
    font-size: 3.5em;
    font-weight: normal;
    color: #fff;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

.geo{
    color: #e63830; 
}

.bg-logo{
    font-family: 'Tangerine', serif;
    font-size: 1.7em;
    font-weight: 500;
    word-spacing: -12px;
}


/* beginning of landing page */

/* content at the middle of landing page */
.content .intro{
    margin-top: 7em;
}

.content{
    margin-bottom: 4em;
}

.content h1{
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.7px;
}

.content p{
    color: #fff;
    font-family: 'Comfortaa';
    font-size: 1.1em;
    text-align: center;
}


.content form{
    margin: 4em 0;
    margin-bottom: -0.8em;
}

.message-2{
    padding-top: 6em;
    width: 75%;
    margin-left: 25%;
    margin-bottom: -8em;
}

.message p{
    text-align: left;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 1.5em;
    font-weight: bold;
}

.message #warning{
    color: #fff;
}

.message #error{
    color: red;
}

.search{
    display: flex;
}

.search-field{
    font-family: 'Comfortaa';
    padding-left: 10px;
    border: 0;
    height: 3em;
    width: 80%;
    font-family: 'Roboto';
    outline: none;
}

.search-button{
    border: 0;
    height: 3.15em;
    background-color: #e63830;
    color: #fff;
    font-family: 'Comfortaa';
    width: 20%;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}


.search-field:focus{
    outline: none;
}


/* the features section */
.features{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-bottom: -2em;
}

.feature{
    width: 33.3%;
    margin-bottom: 2em;
}

.feature h3{
    text-align: left;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 1.5em;
}

.feature p{
    text-align: left;
    color: #fff;
    font-family: 'Comfortaa';
    line-height: 2em;
    font-size: 0.8em;
    width: 90%;
}

.fa-img{
    color: #e63830;
    margin-right: 0.5em;
}



/* beginning of result page */

/* modifing search field */
.no-text{
    opacity: 0.8;
    cursor: default;
}

.result-field{
    width: 75%;
    float: right;
    margin-top: 0px;
}

.search-field2{
    font-family: 'Comfortaa';
    padding-left: 10px;
    border: 0;
    height: 2.85em;
    width: 80%;
    font-family: 'Roboto';
}

.search-button2{
    border: 0;
    height: 3em;
    background-color: #e63830;
    color: #fff;
    font-family: 'Comfortaa';
    width: 20%;
    font-weight: bold;
    cursor: pointer;
}

.form-2{
    margin-top: -9.5em;
    margin-bottom: 12em;
}


/* result section */
.place-title{
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 1em;
    text-transform: capitalize;
}

.place-title .right{
    float: right;
}

.not-found{
    height: 36.5em;
}

.not-found h1{
    font-size: 2em;
    color: #fff;
    font-family: 'Comfortaa';
    text-align: center;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.result{
    display: flex;
    flex-wrap: wrap;
    min-height: 35em;
    width: 100%;
    background: rgba(30, 30, 30, 0.6);
    padding-left: 1em;
}

.result-features{
    width: 25%;
    background: rgba(230, 56, 48, 0.1);
    margin: 1em 0; 
    border-radius: 10px;   
}

.weather-feature{
    width: 80%;
    height: 67%;
    background-color: #fff;
    margin-left: 10%; 
    margin-top: 10%;
    border-radius: 10px;
}

.temp-feature{
    width: 80%;
    height: 6.3%;
    margin-left: 10%; 
    margin-top: 3%;
    border-radius: 10px;
}

.share-feature{
    width: 80%;
    height: 6.3%;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 10px;
}

.share-feature a{
    text-decoration: none;
    color: #fff;
}

.switch-feature{
    width: 80%;
    height: 6.3%;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 10px;
}

.result-map{
    width: 71%;
    height: 33em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 1em;
    background-repeat: cover;
    background-size: 100% 100%;
}

.cancel{
    position: absolute; 
    margin-top: 0.35em;
    font-size: 1.6em !important;
    opacity: 0.8;
    margin-left: 62%;
}

.cancel-2{
    margin-left: 46%;
}

.cancel:hover{
    opacity: 0.6;
}

.remove-outline{
    outline: none;
}

#temp-button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #e63830;
    border-radius: 10px;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bold;
    padding-top: 1.5%;
    outline: none;
}

#share-button{
    width: 100%;
    height: 100%;
    border: 0;
    background: rgb(0, 127, 194);
    border-radius: 10px;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bold;
    padding-top: 1.5%;
    outline: none;
}

#switch-button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #018810;
    border-radius: 10px;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bold;
    padding-top: 1.5%;
    outline: none;
}


#temp-button:hover,
#share-button:hover,
#switch-button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.weather-cloud{
    color: #007fc2;
    background-repeat: cover;
    background-size: 100% 100%;
    width: 50%;
    margin-left: 25%;
    height: 5em;
}

.thermo{
    float: left;
    font-size: 1.4em !important;
    margin-left: 10%;
}

.thermo-span{
    font-size: 0.9em !important;
}

.cloud-description{ 
    font-family: 'Comfortaa'; 
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3em;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: -0.8em;
}

.condition-box{
    height: 85%;
    width: 92%;
    margin-left: 4%;
    padding: 0;
    margin-top: -10px;
}

.condition-box ul{
    list-style-type: none;
    padding: 0; 
}

.condition-box ul li{ 
    list-style-type: none;
    font-family: 'Comfortaa'; 
    font-weight: bold;
    line-height: 2.3em;
    font-size: 0.8em;
    padding-left: 2%;
    padding-right: 2%;
}

.condition-name{
    margin-left: 5px;
    color: rgb(0, 127, 194);
}

.condition-value{
    color: #e63830;
    float: right;
}

.condition-unit{
    color: #000;
    float: inherit;
}

/* landmark images section */
.land-mark{
    margin-top: 0.3em;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    width: 100%;
}

.land-mark div{
    width: 22.5%;
    height: 12em;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-repeat: cover;
    background-size: 100% 100%;
}

.land-mark div:hover{
    margin-top: 1em;
    margin-left: 3.25%;
    width: 20%;
    height: 10em;
    opacity: 0.7;
    cursor: pointer;
}


/* large image section */
.large-image{
    display: flex;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 4em;
    margin-bottom: 4em;
    z-index: 1;
}

.large-image .back{
    width: 10%;
}

.large-image .back i{
    margin-top: 7.5em;
}

.large-image .next .top{
    margin-top: -1.5em;
}

.large-image .next .bottom{
    margin-top: 7em;
}

.large-image .next{
    width: 10%;
}

.large-image .image{
    width: 80%;
    border-radius: 10px;
    background-repeat: cover;
    background-size: 100% 100%;
}

.image-next{
    color: #e63830;
    font-size: 2.5em !important;
    margin-top: 10px;
    margin-left: 35%;
    cursor: pointer;
}

.image-next:hover{
    opacity: 0.8;
}


/* loading spinner */
.loader {
    display: inline-block;
    width: 10em;
    height: 10em;
    margin-top: 20%;
    margin-left: 40%;
}

.loader:after {
    content: " ";
    display: block;
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {

    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

}


/* footer section */
footer{
    width: 100%;
    height: 2em;
    background-color: #e63830;
    margin-bottom: 0;
}

footer p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
    font-size: small;
    font-weight: normal;
    padding-top: 0.7em;
    margin-bottom: 0;
}


footer a{
    text-decoration: none;
    color: #fff;
}


footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}



/* small screens */
@media screen and (max-width: 1440px) {
    .not-found{
        height: 41em;
    }

}



/* small screens */
@media screen and (max-width: 1100px) {
    /* landing page */
    .features{
        width: 100%;
        margin-left: 0;
    }

    footer p{
        width: 90%;
        margin-left: 5%;
    }  
    

    /* result page */
    .cancel-2{
        margin-left: 45%;
    }

    .result{
        width: 110%;
        margin-left: -5%;
    }

    .result-features{
        width: 30%;
        margin: 1em 0; 
        border-radius: 10px;   
    }

    .result-map{
        width: 66%;
    }

    .land-mark{
        width: 110%;
        margin-left: -5%;
    }

    .large-image{
        height: 95%;
    }

}



/* tablets */
@media screen and (max-width: 800px) {
    header{
        margin-left: 25%;
    }

    header .logo{
        font-size: 6em;
    }

    .content .intro{
        margin-top: 7em;
    }  

    .content h1{
        font-size: 2em;
        text-align: center;
    }

    .features{
        width: 100%;
        margin-left: 0;
    }

    .feature{
        width: 50%;
        margin-bottom: 1.5em;
    }    


    .content{
        margin-bottom: 6em;
    }    

    footer{
        margin-top: 3em;
    }

    footer p{
        width: 90%;
        margin-left: 5%;
    }    

   
    /* result page */
    .result-field{
        width: 110%;
    }

    .form-2{
        margin-top: -3em;
        margin-left: 7%;
    }

    .cancel{
        margin-left: 62%;
    }

    .message-2{
        width: 100%;
        margin-left: -10%;
    }

    .not-found{
        padding-top: 5em;
        height: 52em;
    }

    .place-title{
        margin-top: 13em;
    }

    .result{
        width: 116%;
        margin-left: -9%;
    }

    .result-features{
        width: 35%;   
    }

    .result-map{
        width: 60%;
    }

    .land-mark{
        margin-top: 2em;
        width: 116%;
        margin-left: -8%;
    }

    .land-mark div{
        height: 9em;
    }

}


/* tablets */
@media screen and (max-width: 650px) {
    header{
        margin-left: 18%;
    }

    .form-2{
        width: 100%;
        margin-left: 2%;
       
    }

    .cancel{
        margin-left: 57%;
        margin-top: 1em;
    }

    .result-field input{
        height: 3.65em;
        width: 70%; 
        font-size: 1.30em;
    }

    .result-field button{
        height: 3.8em;
        width: 30%;
        font-size: 1.3em;
    }

    .message-2{
        font-size: 1.5em;
    }

    .place-title{
        font-size: 1.5em;
        line-height: 1.8em;
    }
    
    .place-title .right{
        padding-top: 1em;
        float: left;
    }

    .result{
        flex-direction: column;
        width: 112%;
        background-color: inherit;
    }

    .result-features{
        width: 100%; 
        padding-bottom: 2em;
    }

    .result-map{
        width: 97%;
    }

    .weather-feature{
        width: 90%;
        margin-top: 1.5em;
        margin-left: 5%;
    }

    .weather-cloud{
        width: 50%;
        height: 6em;
    }

    .cloud-description{
        font-size: 2em;
        line-height: 3em;
    }

    .condition-box{ 
        padding-bottom: 1em;
        
    }
    
    .condition-box ul li{ 
        line-height: 2.5em;
        font-size: 1.6em;
        padding-left: 2%;
        padding-right: 2%;
    }

    .temp-feature, 
    .share-feature, 
    .switch-feature{
        height: 4em;
        margin-left: 5%;
        width: 90%;
    }

    #temp-button, 
    #share-button, 
    #switch-button{
        font-size: 1.5em;
    }

    .land-mark div{
        width: 44%;
        height: 12em;
        margin-left: 4%;
        margin-bottom: 4%;
    }

    .large-image{
        padding-top: 10em;
    }

    .large-image .image{
        height: 28em;
    }

    footer{
        height: 5em;
    }

    footer p{
        font-size: 1.3em;
    } 

}


/* phones */
@media screen and (max-width: 450px) {
    header{
        margin-left: 20%;
    }

    header .logo{
        font-size: 4em;
    }

    #centering{
        width: 94%;
        margin: 0 3%;
        margin-bottom: 2em;
    }   

    .content .intro{
        margin-top: 3.5em;
    }  

    .content .intro h1{
        font-size: 1.6em;
    }  

    .content .intro p{
        font-size: 1em;
    }  


    body{
        background: #211e2e;
    }  
    
    
    #logo{
        font-size: 2.5em;
        text-align: center;
    }  
    
    .content{
        margin-top: 4em;
    }

    .content h1{
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 0.7px;
    }   
    
    .content p{
        font-size: 0.8em;
        line-height: 2em;
    }  
    
    .content form{
        width: 96%;
        margin: 30px 2%;
        margin-top: 30px;
    }    

    .feature{
        width: 100%;
        margin-left: 5%;
        margin-bottom: 1.5em;
    }   

    .feature h3{
        font-size: 1.1em;
    }  

    .feature p{
        font-size: 0.9em;
    }  

    .search-field{
        padding-left: 5px;
        width: 70%;
    }
    
    .search-button{
        width: 30%;
    } 
    

    .result{
        width: 90%;
        margin-left: 0;
    }
    
    .cancel{
        margin-left: 55%;
        font-size: 2em;
        margin-top: 0.25em;
    }

    .place-title{
        font-size: 0.9em;
        line-height: 1.2em;
        margin-left: 5%;
    }

    .result-field input{
        height: 2.7em;
        width: 70%; 
        font-size: 0.8em;
    }

    .result-field button{
        height: 2.8em;
        width: 30%;
        font-size: 0.8em;
    }

    .weather-cloud{
        width: 40%;
        height: 5em;
    }

    .cloud-description{
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .condition-box ul li{ 
        line-height: 2.3em;
        font-size: 0.9em;
    }

    .temp-feature, 
    .share-feature, 
    .switch-feature{
        height: 3em;
        margin-left: 5%;
        width: 90%;
    }

    #temp-button, 
    #share-button, 
    #switch-button{
        font-size: 1em;
    }

    .result{
        width: 100%;
        margin-left: 0.5%;
    }

    .result-features{
        width: 90%; 
        padding-bottom: 2em;
    }

    .result-map{
        width: 85%;
        height: 17em;
    }

    .land-mark{
        margin-left: 3.5%;
        width: 100%;
    }

    .land-mark div{
        width: 40%;
        height: 6em;
        margin-left: 4%;
        margin-bottom: 4%;
    }

    .land-mark div:hover{
        margin-top: 1em;
        width: 36%;
        height: 5em;
    }

    .large-image .image{
        height: 20em;
    }

    .image-next{
        font-size: 1.7em !important;
    }

    #next-icon, #back-icon{
        margin-top: 3em;
        margin-left: 20%;
    }

    #back-icon{
        margin-top: 4em;
    }


    footer{
        height: 3.5em;
    }

    footer p{
        font-size: 0.8em;
        line-height: 1.5em;
    }    

  }  