#centering{
    width: 80%;
    margin: 0 10%;
    margin-bottom: 3em;
}

body{
    background: url('../img/background-image.png') #211e2e;
    background-repeat: cover;
    margin: 0 auto;
    background-blend-mode: multiply;
}

.logo{
    font-family: 'Tangerine', serif;
    font-size: 3.5em;
    font-weight: normal;
    color: #fff;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

.geo{
    color: #e63830; 
}

.bg-logo{
    font-family: 'Tangerine', serif;
    font-size: 1.7em;
    font-weight: 500;
    word-spacing: -12px;
}

.content .intro{
    margin-top: 7em;
}

.content{
    margin-bottom: 4em;
}

.content h1{
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.7px;
}

.content p{
    color: #fff;
    font-family: 'Comfortaa';
    font-size: 1.1em;
    text-align: center;
}


.content form{
    margin: 50px 0;
}


.search{
    display: flex;
}


.search-field{
    font-family: 'Comfortaa';
    padding-left: 10px;
    border: 0;
    height: 3em;
    width: 80%;
    font-family: 'Roboto';
    outline: none;
}


.search-button{
    border: 0;
    height: 3.15em;
    background-color: #e63830;
    color: #fff;
    font-family: 'Comfortaa';
    width: 20%;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}


.search-field:focus{
    outline: none;
}


.features{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-bottom: -2em;
}


.feature{
    width: 33.3%;
    margin-bottom: 2em;
}


.feature h3{
    text-align: left;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 1.5em;
}


.feature p{
    text-align: left;
    color: #fff;
    font-family: 'Comfortaa';
    line-height: 2.2em;
    font-size: 0.7em;
    width: 90%;
}


.fa-img{
    color: #e63830;
    margin-right: 0.5em;
}


footer{
    width: 100%;
    height: 2em;
    background-color: #e63830;
    margin-bottom: 0;
}


footer p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
    font-size: small;
    font-weight: normal;
    padding-top: 0.7em;
    margin-bottom: 0;
}


footer a{
    text-decoration: none;
    color: #fff;
}


footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.no-text{
    opacity: 0.8;
    cursor: default;
}

.result-field{
    width: 75%;
    float: right;
    margin-top: 0px;
}

.search-field2{
    font-family: 'Comfortaa';
    padding-left: 10px;
    border: 0;
    height: 2.85em;
    width: 80%;
    font-family: 'Roboto';
}


.search-button2{
    border: 0;
    height: 3em;
    background-color: #e63830;
    color: #fff;
    font-family: 'Comfortaa';
    width: 20%;
    font-weight: bold;
    cursor: pointer;
}

.section2{
    margin-top: -8.9em;
    margin-bottom: 13em;
}

.result{
    display: flex;
    flex-wrap: wrap;
    min-height: 35em;
    width: 100%;
    background: rgba(30, 30, 30, 0.6);
    padding-left: 1em;
}

.land-mark{
    margin-top: 0.3em;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    width: 100%;
}

.land-mark div{
    width: 22.5%;
    height: 12em;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-repeat: cover;
    background-size: 100% 100%;
}

.land-mark div:hover{
    margin-top: 1em;
    margin-left: 3.25%;
    width: 20%;
    height: 10em;
    opacity: 0.7;
    cursor: pointer;
}

.not-found{
    font-size: 4em;
    color: #fff;
    font-family: 'Comfortaa';
    padding: 4.65em 1em;
    text-align: center;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

}

.result-features{
    width: 25%;
    background: rgba(230, 56, 48, 0.1);
    margin: 1em 0; 
    border-radius: 10px;   
}

.weather-feature{
    width: 80%;
    height: 67%;
    background-color: #fff;
    margin-left: 10%; 
    margin-top: 10%;
    border-radius: 10px;
}

.temp-feature{
    width: 80%;
    height: 6.3%;
    margin-left: 10%; 
    margin-top: 3%;
    border-radius: 10px;
}

.share-feature{
    width: 80%;
    height: 6.3%;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 10px;
}

.switch-feature{
    width: 80%;
    height: 6.3%;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 10px;
}

.result-map{
    width: 71%;
    height: 33em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 1em;
    background-repeat: cover;
    background-size: 100% 100%;
}

.map-marker{
    color: #e63830;
    font-size: 2.5em !important;
    margin-left: 45%;
    margin-top: 3em;
}

.cancel{
    position: absolute; 
    margin-top: -1.3em;
    font-size: 1.6em !important;
    opacity: 0.5;
    margin-left: 45%;
}

.cancel:hover{
    opacity: 0.7;
}

.remove-outline{
    outline: none;
}

#temp-button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #e63830;
    border-radius: 10px;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bold;
    padding-top: 1.5%;
    outline: none;
}

#share-button{
    width: 100%;
    height: 100%;
    border: 0;
    background: rgb(0, 127, 194);
    border-radius: 10px;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bold;
    padding-top: 1.5%;
    outline: none;
}

#switch-button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #018810;
    border-radius: 10px;
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: bold;
    padding-top: 1.5%;
    outline: none;
}


#temp-button:hover, #share-button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.weather-cloud{
    color: #007fc2;
    background-repeat: cover;
    background-size: 100% 100%;
    width: 50%;
    margin-left: 25%;
    height: 5em;
}

.thermo{
    float: left;
    font-size: 1.4em !important;
    margin-left: 10%;
}

.cloud-description{ 
    font-family: 'Comfortaa'; 
    font-weight: bold;
    font-size: 1em;
    line-height: 0.8em;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: -0.5em;
}

.condition-box{
    height: 85%;
    width: 92%;
    margin-left: 4%;
    padding: 0;
    margin-top: -10px;
}

.condition-box ul{
    list-style-type: none;
    padding: 0; 
}

.condition-box ul li{ 
    list-style-type: none;
    font-family: 'Comfortaa'; 
    font-weight: bold;
    line-height: 2.2em;
    font-size: 0.8em;
    padding-left: 2%;
    padding-right: 2%;
}

.condition-name{
    margin-left: 5px;
    color: rgb(0, 127, 194);
}

.condition-value{
    color: #e63830;
    float: right;
}

.condition-unit{
    color: #000;
    float: inherit;
}

.place-title{
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: 1000;
    font-size: 1em;
    text-transform: capitalize;
}

.place-title .right{
    float: right;
}

.large-image{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4em;
    margin-bottom: 4em;
    z-index: 1;
}

.large-image .back{
    width: 10%;
}

.large-image .back i{
    margin-top: 7.5em;
}

.large-image .next .top{
    margin-top: -1.5em;
}

.large-image .next .bottom{
    margin-top: 7em;
}

.large-image .next{
    width: 10%;
}

.large-image .image{
    width: 80%;
    border-radius: 10px;
    background-repeat: cover;
    background-size: 100% 100%;
}

.image-next{
    color: #e63830;
    font-size: 2.5em !important;
    margin-top: 10px;
    margin-left: 35%;
    cursor: pointer;
}

.image-next:hover{
    opacity: 0.8;
}



.loader {
    display: inline-block;
    width: 15em;
    height: 15em;
    margin-top: 12%;
    margin-left: 40%;
  }

  .loader:after {
    content: " ";
    display: block;
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  









/* small screens */
@media screen and (max-width: 1100px) {
    .features{
        width: 100%;
        margin-left: 0;
    }


    footer p{
        width: 90%;
        margin-left: 5%;
    }    

}


/* tablets */
@media screen and (max-width: 800px) {
    .content .intro{
        margin-top: 9.5em;
    }  

    .content h1{
        font-size: 2em;
        text-align: center;
    }

    .features{
        width: 100%;
        margin-left: 0;
    }

    .feature{
        width: 50%;
        margin-bottom: 2em;
    }    


    .content{
        margin-bottom: 7em;
    }    

    footer p{
        width: 90%;
        margin-left: 5%;
    }    

}



/* phones */
@media screen and (max-width: 400px) {
    #centering{
        width: 94%;
        margin: 0 3%;
        margin-bottom: 2em;
    }   

    .content .intro{
        margin-top: 3.5em;
    }  


    body{
        background: #211e2e;
    }  
    
    
    #logo{
        font-size: 2.5em;
        text-align: center;
    }  
    
    .content{
        margin-top: 4em;
    }

    .content h1{
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 0.7px;
    }   
    
    .content p{
        font-size: 0.8em;
        line-height: 2em;
    }  
    
    .content form{
        width: 90%;
        margin: 30px 5%;
        margin-top: 30px;
    }    

    .feature{
        width: 100%;
        margin-left: 5%;
        margin-bottom: 1.5em;
    }   
    
    .search-field{
        padding-left: 5px;
        width: 70%;
    }
    
    .search-button{
        width: 30%;
    }    

    footer{
        height: 3.5em;
    }

    footer p{
        line-height: 1.5em;
    }    

  }  